// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  body {
    background-color:#eaecef;

  }



  .plain-link, a {
    text-decoration: none;

  }

  .plain-link:hover, a:hover {
    text-decoration: none;

  }

  .card-positioning {

  }
